/* $Id$ */

div#page {
  max-width: 1280px;
  min-width: 800px;
  width: 80%;
  margin: 0 auto;
}
div.column {
  float: left;
}
body.two-sidebars div#content {
  width: 52%;
}
body.sidebar-first div#content {
  width: 70%;
}
body.sidebar-second div#content {
  width: 82%;
}
div#sidebar-first {
  width: 30%;
}
div#sidebar-second {
  width: 18%;
}
div.column > div {
  padding: 0 1.15em;
}