/* $Id$ */

/**
 * @file
 * Short description
 *
 * Long description
 */

#page {
  max-width: 1280px;
  min-width: 800px;
  width: 80%;
  margin: 0 auto;
}
.column {
  float: left;
}
body.two-sidebars #content {
  width: 52%;
}
body.sidebar-first #content {
  width: 70%;
}
body.sidebar-second #content {
  width: 82%;
}
#sidebar-first {
  width: 30%;
}
#sidebar-second {
  width: 18%;
}
.column > div {
  padding: 0 1.15em;
}
#footer-columns .footer-column {
  float: left;
}
.footer-columns-1 .footer-column {
  width: 100%;
}
.footer-columns-2 .footer-column {
  width: 50%;
}
.footer-columns-3 .footer-column {
  width: 33.3%;
}
#footer-columns .footer-column .region {
  padding: 0 2.65em;
}
#footer-region-wrapper {
  padding: 2em 2.65em;
}
