/* $Id$ */

/**
* @file
* Short description
*
* Long description
*/

#toolbar,
#secondary-links-wrapper {
  display: none;
}
#page-wrapper.secondary-links {
  border-top: 0px solid #000;
}
#page {
  max-width: none;
  min-width: none;
  width: 100%;
}
#header {
  margin-top: 0;
  margin-bottom: 0;
}
#main-wrapper {
  padding: 0;
  border: 0;
}
a {
  text-decoration: underline !important;
}
