/* $Id$ */

/**
 * @file
 * Short description
 *
 * Long description
 */

div#toolbar,
div#secondary-links-wrapper {
  display: none;
}
div#page-wrapper.secondary-links {
  border-top: 0px solid #000;
}
div#page {
  max-width: none;
  min-width: none;
  width: 100%;
}
div#header {
  margin-top: 0;
  margin-bottom: 0;
}
div#main-wrapper {
  padding: 0;
  border: 0;
}
a {
  text-decoration: underline !important;
}
