/* $Id$ */

/** Toolbar **/
#toolbar div.toolbar-menu {
  background-color: #404040;
}
#toolbar .shadow {
  display: none;
}
#toolbar div.toolbar-menu ul li {
  background-image: none;
}
div#toolbar div.toolbar-menu ul li a:focus,
div#toolbar div.toolbar-menu ul li a:hover,
div#toolbar div.toolbar-menu ul li a.active:focus {
  background-color: #000;
  text-decoration: none !important;
}

/** Secondary links **/
div#page-wrapper.secondary-links {
  border-top: 1em solid #313131;
  width: 100%;
}
div#page-wrapper ul#secondary-menu li {
  float: right;
  background-color: #313131;
  margin-left: 1em;
  border-radius-bottomleft: 0.5em;
  border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-radius-bottomleft: 0.5em;
  -webkit-border-radius-bottomright: 0.5em;
  padding: 0;
  background-image: none;
}
div#page-wrapper ul#secondary-menu li a {
  color: #dbdbdb;
  font-size: 1.15em;
  padding: 0.54em 0.87em;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
div#page-wrapper ul#secondary-menu li a.active,
div#page-wrapper ul#secondary-menu li a:hover {
  color: #fff;
  text-decoration: none;
}

/** Header styles **/

div#skip-link {
  display: none;
}
div#header {
  margin: 4.2em 0 2.2em 2em;
}
div#page-wrapper.secondary-links div#header {
  margin-top: 0;
}
div#header a#logo {
  float: left;
}
div#header div#name-and-slogan {
  float: left;
}
div#header h1#site-name,
div#header div#site-name {
  font-size: 4.62em;
  letter-spacing: -0.02em;
  margin: 0.1em 0 0 0.2em;
}
div#header div#site-name a,
div#header h1#site-name a {
  color: #404040;
  text-decoration: none;
  font-weight: bold;
}
div#header div#site-slogan {
  color: #878787;
  font-size: 1.85em;
  margin: -0.2em 0 0 0.6em;
}

/** Navigation **/
div#navigation ul li {
  background-image: none;
  padding: 0;
  margin: 0;
}
div#navigation ul li a {
  display: block;
  float: left;
  color: #0493b8;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 0.8em 1em 0.6em;
  margin: 0 1em 1em 0;
  line-height: 1;
}
div#page-wrapper div#navigation ul li a.active,
div#page-wrapper div#navigation ul li a:hover {
  background-color: #0493b8;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  color: #fff;
  text-decoration: none;
}

/** Main content **/
div#main-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #D2D8E3;
  padding: 0.3em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
div#main {
  padding: 1.3em 1.2em;
  background: #fff url(../images/background.png) repeat-x;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

/** Breadcrumb **/
div.breadcrumb {
  font-size: 1.2em;
  margin-bottom: 1em;
}
div#breadcrumb a {
  color: #0091b7;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
div#breadcrumb div {
  float: left;
}
.breadcrumb-separator {
  background-image: url(../images/breadcrumb.png);
  width: 7px;
  height: 10px;
  margin: 0.3em 0.5em 0;
  text-indent: -9999em;
  display: block;
}

/** Title **/
div.node h2, h1#page-title {
  color: #575757;
  font-size: 2.46em;
}

/** Messages **/
div#messages div.message {
  margin-bottom: 1em;
  color: #fff;
  padding: 1em 1em 1em 5em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
div#messages div.message-status {
  background: #9bc325 url(../images/messages-status.png) no-repeat scroll 2em center;
}
div#messages div.message-warning {
  background: #f8a50c url(../images/messages-warning.png) no-repeat scroll 2em center;
}
div#messages div.message-error {
  background: #f64920 url(../images/messages-error.png) no-repeat scroll 2em center;
}

/** Tabs **/
ul.primary {
  border-bottom: 0;
}
body.html div.tabs ul li {
  padding-left: 0;
  background-image: none;
  line-height: 3;
}
div.tabs ul li a {
  border: 2px solid #3EACCE;
  font-weight: bold;
  padding: 0.62em 1.54em;
  background-color: #fff;
  text-decoration: none;
  color: #2499C5;
  margin-right: 0.5em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
div.tabs ul li.active a,
div.tabs ul li.active a:hover {
  background-color: #3EACCE;
  border-color: #3EACCE;
  color: #FFFFFF;
}
ul.primary li a:hover {
  border-color: #ccc;
}
ul.primary li.active a {
  border: 2px solid #3EACCE;
}

/** Contextual links **/
a.contextual-links-trigger {
  background: url(../images/contextual.png) no-repeat scroll 0 0;
  width: 25px;
  height: 25px;
  padding: 0;
}
div.contextual-links-active a.contextual-links-trigger,
a.contextual-links-trigger:hover {
  background-position: 0 -25px;
  background-color: #fff;
  border: 0;
  padding: 0;
  margin: 2px 1px 0 0;
  position: relative;
  z-index: 1;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
div.contextual-links-wrapper ul.contextual-links {
  background-color: #5e5d5e;
  border: 0;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  top: 27px;
  right: 1px;
}
body.html ul.contextual-links li {
  padding-left: 0;
  font-weight: normal;
  background-image: none;
}
ul.contextual-links li a {
  color: #fff !important;
  margin: 0;
  padding: 0.75em 1em;
  text-align: right;
}
ul.contextual-links li a:hover {
  background-color: #868686;
}

/** Nodes **/
div.node h2 {
  margin-bottom: 0;
}
div.node h2 a {
  color: #575757;
}
div.node div.meta span.submitted {
  color: #A5A5A5;
  font-size: 1.23em;
}
div.node div.field-type-taxonomy-term-reference {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
div.node div.field-type-taxonomy-term-reference div.field-label {
  color: #404040;
  display: inline;
  font-weight: bold;
}
div.node div.field-type-taxonomy-term-reference div.field-items,
div.node div.field-type-taxonomy-term-reference div.field-items div.field-item {
  display: inline;
}
div.node div.field-type-taxonomy-term-reference div.field-items div.field-item a {
  text-decoration: none;
  font-weight: bold;
}
div.node div.field-type-taxonomy-term-reference div.field-items div.field-item a:after {
    content: ",";
}
div.node div.field-type-taxonomy-term-reference div.field-items div.field-item:last-child a:after {
    display: none;
}
div.node ul.links li {
  float: left;
  padding-left: 0;
  margin: 0.5em 0.5em 1em 0;
  background: none;
}
div.node ul.links li a {
  font-weight: bold;
  font-size: 1em;
  padding: 9px 20px;
  text-decoration: none;
  background-color: #9cc426;
  color: #f4f8e6;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
div.node ul.links li a:hover {
  background-color: #b4da41;
  color: #ffffff;
}

/** Poll **/
div.poll .vote-form {
  text-align: left;
}
div.poll .vote-form .choices {
  display: block;
}
div.poll div.title {
  color: #96bd24;
  font-size: 1.1em;
  font-weight: bold;
}
div.poll div.bar-text {
  color: #484848;
  font-size: 13px;
  margin-top: 12px;
  margin-bottom: 3px;
}
div.poll div.text {
  float: left;
}
div.poll div.percent {
  float: right;
  color: #484848;
  font-size: 13px;
}
div.poll div.total {
  text-align: right;
  padding: 13px 0 4px 0;
}
div.poll div.bar {
  background-color: #ffffff;
  height: 20px;
  width: 100%;
  border: 1px solid #d8d8d8;
}
div.poll div.bar div.foreground {
  height: 20px;
  float: none;
  background-color: #9bc325;
}
div#block-poll-recent div.links li {
  text-align: right;
  padding-left: 0px;
  padding-right: 12px;
  background-image: none;
}
div.poll div.links li a {
  font-weight: bold;
}

/** Comments **/
div#comments div.comment {
  margin-bottom: 2.15em;
}
div#comments div.comment div.info {
  width: 8em;
  float: left;
  margin-top: 1.25em;
  font-size: 1.1em;
  color: #575757;
}
div#comments div.comment div.info span.username,
div#comments div.comment div.info a.username {
  display: block;
  color: #9bc41e;
  text-decoration: none;
}
div#comments div.comment div.content {
  padding-left: 9.9em;
  position: relative;
}
div#comments div.comment div.content div.arrow {
  background: url(../images/comment.png) no-repeat 0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 1em;
  left: 8.7em;
}
div#comments div.comment div.content div.inner {
  background-color: #fdfdfd;
  border: 1px solid #e1e1e1;
  padding: 1.5em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
div#comments div.comment div.content h3 {
  margin-top: 0;
}
div#comments div.comment div.content h3 a {
  text-decoration: none;
  color: #575757;
  font-size: 21px;
  font-weight: bold;
}
div#comments div.comment div.content ul.links a {
  font-size: 12px;
  text-transform:capitalize;
}

/** Admin screens **/
div.admin .left,
div.admin .right {
  margin: 0;
  width: 49%;
}
div.admin-panel {
  background-color: #FAFAFA;
  margin: 0 0 4%;
  padding: 1em;
}
div.admin-panel h3 {
  margin-top: 0;
}
div#dashboard div#disabled-blocks h2 {
  font-size: 1em;
}
#dashboard .dashboard-region div.block {
  background-color: #FAFAFA;
}
#dashboard .dashboard-region div.block h2 {
  font-size: 1.3em;
  font-weight: normal;
  background: transparent none;
}
div.system-themes-list ul li {
  background-image: none;
}

/** Menu blocks **/
div.block div.content > ul.menu > li.first > a {
  padding-top: 0.5em;
}
div.block ul.menu li {
  padding: 0;
  background-image: none;
  list-style: none;
  margin: 0;
}
div.block ul.menu li li {
  margin-left: 1em;
}
div.block ul.menu li a {
  border: none;
  text-decoration: none;
  margin: 0.3em 0;
  font-weight: bold;
  font-size: 1.15em;
  padding: 0 0 0.5em;
  display: block;
}

/** Sidebar 1 Blocks **/
div#page-wrapper div#page li li {
  font-size: 1em;
}
div#sidebar-first div.block {
  background-color: #F7F8FA;
  border: 1px solid #D9E5F1;
  padding: 1.5em;
  margin-bottom: 3em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
div#sidebar-first div.block ul.menu li a {
  background: transparent url(../images/bullet.png) no-repeat scroll 0 6px;
  padding: 0 0 0 1em;
}
div#sidebar-first div.block-position-1,
div#sidebar-first div.block-position-2 {
  background-color: #008eb3;
  padding: 1.5em;
  color: #fff;
  border: 0;
  border-radius: 0.5em;
}
div#sidebar-first div.block-position-1 {
  margin-bottom: 0.1em;
  border-radius-bottomleft: 0;
  border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-radius-bottomleft: 0;
  -webkit-border-radius-bottomright: 0;
}
div#sidebar-first div.block-position-2,
div#sidebar-first div.block-position-1.last {
  background-color: #3AABCC;
  border-radius-topleft: 0;
  border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-radius-topleft: 0;
  -webkit-border-radius-topright: 0;
}
div#sidebar-first div.block-position-1 a,
div#sidebar-first div.block-position-2 a {
  color: #fff;
}
div#sidebar-first div.block-position-1 ul.menu li a,
div#sidebar-first div.block-position-2 ul.menu li a {
  background-image: url(../images/bullet-white.png);
  color: #DFF2F7;
}
div#sidebar-second div.block > h2,
div#sidebar-first div.block > h2 {
  text-transform: uppercase;
}

/** Sidebar 2 blocks **/
div#sidebar-second div.block div.content {
  background-color: #FAFAFA;
}
div#sidebar-second div.block ul.menu li {
  margin-left: 1em;
}

/** Footer **/
div#footer-columns h2 {
  border-bottom: 2px solid #e3e8ec;
  font-weight: normal;
  padding-bottom: 0.5em;
  margin-bottom: 1px;
}
div#footer-columns div.content {
  border-top: 1px solid #fff;
  padding-top: 1em;
}

/** Overlay **/
body.overlay {
  background-color: #fff;
}
body.overlay div#page-wrapper {
  border-top: 0;
}
body.overlay div#page {
  min-width: none;
  max-width: none;
  width: 100%;
}
body.overlay div#main-wrapper {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
body.overlay div#main {
  background-image: none;
}
